@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
*{
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
}
.container {
height: 100vh;
 width: 100%;
background-image: url(bg.png);
background-position: center; 
background-size: cover; 
 padding-right: 5%;
 padding-left: 3%;
 box-sizing: border-box;
 position: relative;
}
.navbar {
 width: 100%;
 height: 15vh;
 margin: auto;
 display: flex;
 align-items: center;
 margin-top:10%;
}
.logo{
width: 180px;
margin-top: 10px;
cursor: pointer;
margin-bottom: 10%;
}
nav {
flex: 1;
padding-left: 320px;
}
nav ul li {
display: inline-block;
list-style: none;
margin: 0 15px;
}
mav ul la {
text-decoration: none;
color: #1b1b1b;
text-transform: uppercase;
font-size: 16px;
font-weight: 600;
}
.cart {
font-size: 60px;
color: #1b1b1b;
}

 